* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    text-align: center;
    padding-top: 20px;
}

h1 {
    margin-top: 50px;
    font-size: 80px;
    color: rgb(16, 16, 99);
}

#logo {
    width: 300px;
}

#param {
    width: 40px;
    position: absolute;
    right: 30px;
    top: 30px;
}

#param:hover {
    cursor: pointer;
}

.hidden {
    display: none;
    visibility: hidden;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  }
  
  /* The Close Button */
  #closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  #closeModal:hover,
  #closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #tour {
    font-size: 50px;
    margin-top: 50px;
  }

  #timer {
    font-size: 50px;
  }

  button {
    background-color: rgb(255, 217, 0);
    border: 0;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    margin: 5px;
  }

  button:hover {
    cursor: pointer;
  }

  #control-timer-container {
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  input {
    border: 2px solid rgb(255, 217, 0);
    padding: 5px;
    border-radius: 5px;
  }
  label {
    margin-top: 10px;
    font-size: 20px;
  }